<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

<p id="inputBox">
    <span id="inputBoxCaption">Effect Size: </span>
    <input type="float" placeholder="5.0" id="inputBoxValue">
    <br>
    <span id="inputBoxStdDevCaption">Standard Deviation: </span>
    <input type="float" placeholder="25.0" id="inputBoxStdDevValue">
    <br>
    <input type="button" onclick="updatePlotData()" value="Submit">
</p>

<p>
    <span id="testSplitCaption">Test Split: </span>
    <input type="range" min="10" max="90" value="50" step = "10" onclick="sliderUpdate()" id="testSplitSlider">
    <em id="testSplitTracker">50 %</em>
</p>

<input type="radio" name="plotType" id="sampleSize" onclick="sampleSizeRadioButton()" checked>
<label for="sampleSize">Total Sample Size Required</label><br>
<input type="radio" name="plotType" id="mde" onclick="mdeRadioButton()">
<label for="mde">Minimal Detectable Effect</label><br>

<canvas id="plot" width="400" height="400"></canvas>
<script>
    // -- CONSTANTS -- //
    // Define plot canvas
    const CANVAS = document.getElementById("plot");
    const CONTEXT = CANVAS.getContext("2d");

    // Define x-axis, derived by scaling standardized effect size by following scalars
    const X_AXIS_SCALE = [0.75, 0.80, 0.85, 0.90, 0.95, 1.00, 1.05, 1.10, 1.15, 1.20, 1.25];

    // Define statistical constants
    //const Z_ALPHA = 1.96; const Z_BETA = 0.84;
    const Z_CONST = (1.96 + 0.84) * (1.96 + 0.84);
    const SUBTITLE_SPECS = ", 80% Power, 5% Significance";

    // Define user-input defaults
    const ABS_EFFECT_SIZE_DEFAULT = 5.0;
    const STD_DEV_DEFAULT = 25.0;
    const SAMPLE_SIZE_DEFAULT = 1000;

    // -- CREATE GLOBAL VARIABLES -- //
    var global_x_axis;
    var global_default_value;
    var global_std_dev_value;
    var global_plot_data;
    var global_title_text;
    var global_power_graph;
    var global_power_graph_options;
    var global_test_split;

    // -- CREATE INITIAL CHART -- //
    global_default_value = ABS_EFFECT_SIZE_DEFAULT;
    global_std_dev_value = STD_DEV_DEFAULT;
    global_x_axis = X_AXIS_SCALE.map(
        x => Math.round(x * global_default_value * 1000) / 1000.0
    );
    global_test_split = 0.50;

    global_plot_data = solveSampleSize(global_default_value);
    global_title_text = [
        "Power Plot: Total Sample Size Required"
        ,"Effect Size = " + ABS_EFFECT_SIZE_DEFAULT + ", Std Dev = " + STD_DEV_DEFAULT + SUBTITLE_SPECS
    ];

    global_power_graph_options = {
        title: {
            display: true,
            text: global_title_text
        },
        legend: {
            display: false
        },
        tooltips: {
            mode: "index",
            intersect: false
        },
        hover: {
            mode: "nearest",
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                ticks: {
                    min: Math.min(...global_x_axis),
                    max: Math.max(...global_x_axis)
                },
                scaleLabel: {
                    display: true,
                    labelString: "Effect Size (+/- 25%)"
                }
            }],
            yAxes: [{
                display: true,
                ticks: {
                    min: Math.floor(Math.min(...global_plot_data)*0.9),
                    max: Math.ceil(Math.max(...global_plot_data)*1.1)
                },
                scaleLabel: {
                    display: true,
                    labelString: "Total Sample Size Required"
                }
            }]
        }
    };

    // Instantiate chart w/ default inputs (don't redeclare!)
    global_power_graph = new Chart(CONTEXT, {
        type: "line",
        data: {
            labels: global_x_axis,
            datasets: [{
                fill: false,
                data: global_plot_data,
                backgroundColor: "#009688",
                borderColor: "#009688"
            }]
        },
        options: global_power_graph_options
    });

    // -- FUNCTION DEFINITIONS -- //
    // https://select-statistics.co.uk/calculators/sample-size-calculator-two-proportions/
    function solveSampleSize() {
        var c = Z_CONST*global_std_dev_value*global_std_dev_value / (global_test_split*(1-global_test_split));
        var sample_size_array = global_x_axis.map(effect_size =>
            Math.ceil( c / (effect_size * effect_size) )
        );
        return sample_size_array;
    }

    function solveMDE() {
        var c = Z_CONST*global_std_dev_value*global_std_dev_value / (global_test_split * (1-global_test_split));
        var mde_array = global_x_axis.map(sample_size =>
            Math.sqrt( c / sample_size )
        );
        return mde_array;
    }

    function updatePowerGraph(data_points) {
        // Update graph configs
        global_power_graph_options.title.text = global_title_text;

        // Recreate graph with new inputs
        // https://github.com/chartjs/Chart.js/issues/559
        global_power_graph.destroy();

        global_power_graph_options.scales.yAxes[0].ticks.min = Math.floor(Math.min(...data_points)*0.9);
        global_power_graph_options.scales.yAxes[0].ticks.max = Math.ceil(Math.max(...data_points)*1.1);
        global_power_graph = new Chart(CONTEXT, {
            type: "line",
            data: {
                labels: global_x_axis,
                datasets: [{
                    fill: false,
                    data: data_points,
                    backgroundColor: "#009688",
                    borderColor: "#009688"
                }]
            },
            options: global_power_graph_options
        });
    }

    function updatePlotData() {
        var input_box_value = document.getElementById("inputBoxValue").value;
        if (input_box_value == "") {
            input_box_value = global_default_value;
        }

        global_std_dev_value = document.getElementById("inputBoxStdDevValue").value;
        if (global_std_dev_value == "") {
            global_std_dev_value = STD_DEV_DEFAULT;
        }

        var plot_sample_size = document.getElementById("sampleSize").checked;
        if (plot_sample_size) {
            global_x_axis = X_AXIS_SCALE.map(
                x => Math.round(x * input_box_value * 1000) / 1000.0
            );
            global_title_text[1] = "Effect Size = " + input_box_value + ", Std Dev = " + global_std_dev_value + SUBTITLE_SPECS;
            global_plot_data = solveSampleSize();
        }
        else {
            global_x_axis = X_AXIS_SCALE.map(
                x => Math.round(x * input_box_value)
            );
            global_title_text[1] = "Sample Size = " + input_box_value + ", Std Dev = " + global_std_dev_value + SUBTITLE_SPECS;
            global_plot_data = solveMDE();
        }

        updatePowerGraph(global_plot_data);
    }

    function sliderUpdate() {
        global_test_split = document.getElementById("testSplitSlider").value / 100.0;
        document.getElementById("testSplitTracker").innerHTML = `${ global_test_split * 100 } %`;
        updatePlotData();
    }

    function sampleSizeRadioButton() {
        global_default_value = ABS_EFFECT_SIZE_DEFAULT;

        document.getElementById("inputBoxValue").value = "";
        document.getElementById("inputBoxCaption").innerHTML = "Effect size: ";
        document.getElementById("inputBoxValue").placeholder = global_default_value;

        global_title_text[0] = "Power Plot: Total Sample Size Required";
        global_power_graph_options.scales.yAxes[0].scaleLabel.labelString = "Total Sample Size Required";
        global_power_graph_options.scales.xAxes[0].scaleLabel.labelString = "Effect Size (+/- 25%)";

        updatePlotData();
    }

    function mdeRadioButton() {
        global_default_value = SAMPLE_SIZE_DEFAULT;

        document.getElementById("inputBoxValue").value = "";
        document.getElementById("inputBoxCaption").innerHTML = "Sample size: ";
        document.getElementById("inputBoxValue").placeholder = global_default_value;

        global_title_text[0] = "Power Plot: Minimal Detectable Effect";
        global_power_graph_options.scales.yAxes[0].scaleLabel.labelString = "Minimal Detectable Effect";
        global_power_graph_options.scales.xAxes[0].scaleLabel.labelString = "Sample Size (+/- 25%)";

        updatePlotData();
    }
</script>